<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

    <body>
        <nav class="top_nav_bar">
            <h1 class="logo">PCforce</h1>
                <a href="/">Home</a>
                <a href="/learn">Learn</a>
                <a href="/components">components</a>
        </nav>
<body class="components_page">
    <h1>GPU List</h1>

    {% for gpu in gpus %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ gpu.brand.name }}</p>
            <h2>{{ gpu.model }}</h2>
            <p>VRAM: {{ gpu.vram }} GB</p>
            <p>${{ gpu.price }}</p>
        </div>
    {% endfor %}

    <h1>CPU List</h1>

    {% for cpu in cpus %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ cpu.brand.name }}</p>
            <h2>{{ cpu.model }}</h2>
            <p>Cores: {{ cpu.cores }}</p>
            <p>${{ cpu.price }}</p>
        </div>
    {% endfor %}

    <h1>Motherboard List</h1>

    {% for motherboard in motherboards %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ motherboard.brand.name }}</p>
            <h2>{{ motherboard.model }}</h2>
            <p>Ram slots: {{ motherboard.ram_slots }}</p>
            <p>${{ motherboard.price }}</p>
        </div>
    {% endfor %}

    <h1>RAM List</h1>

    {% for ram in rams %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ ram.brand.name }}</p>
            <h2>{{ ram.model }}</h2>
            <p>Capacity: {{ ram.capacity }} GB</p>
            <p>${{ ram.price }}</p>
        </div>
    {% endfor %}

    <h1>Storage List</h1>

    {% for storage in storage %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ storage.brand.name }}</p>
            <h2>{{ storage.model }}</h2>
            <p>Capacity: {{ storage.capacity }} GB</p>
            <p>${{ storage.price }}</p>
        </div>
    {% endfor %}

    <h1>PSU List</h1>

    {% for psu in psus %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ psu.brand.name }}</p>
            <h2>{{ psu.model }}</h2>
            <p>Wattage: {{ psu.wattage }} W</p>
            <p>${{ psu.price }}</p>
        </div>
    {% endfor %}

    <h1>Cooler List</h1>

    {% for cooler in coolers %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ cooler.brand.name }}</p>
            <h2>{{ cooler.model }}</h2>
            <p>Type: {{ cooler.type }}</p>
            <p>${{ cooler.price }}</p>
        </div>
    {% endfor %}

    <h1>Case List</h1>

    {% for case in cases %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ case.brand.name }}</p>
            <h2>{{ case.model }}</h2>
            <p>Form Factor: {{ case.form_factor }}</p>
            <p>${{ case.price }}</p>
        </div>
    {% endfor %}

    <h1>Case Fan List</h1>

    {% for fan in case_fans %}
        <div class="component_card">
            <div class="image">Image</div>
            <p>{{ fan.brand.name }}</p>
            <h2>{{ fan.model }}</h2>
            <p>Size: {{ fan.size }} mm</p>
            <p>${{ fan.price }}</p>
        </div>
    {% endfor %}
</body>
</html>