<!DOCTYPE html>
<html>

<head>
    <title>All GPUs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="components_page">

<nav class="top_nav_bar">
    <h1 class="logo">PCforce</h1>
    <a href="/">Home</a>
    <a href="/learn">Learn</a>
    <a href="/components">Components</a>
</nav>

<h1 class="page_title">All CPU Coolers</h1>

<section class="component_section">

    <div class="component_grid">

        {% for cooler in coolers %}

        <div class="component_card">

            <div class="image">
                <img src="{{ url_for('static', filename=cooler.image) }}" alt="{{ cooler.model }}">
            </div>

            <div class="card_info">

                <p>{{ cooler.brand.name }}</p>

                <h2>{{ cooler.model }}</h2>

                <p>Type: {{ cooler.type }}</p>

                <p>${{ cooler.price }}</p>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

</body>
</html>