<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section clsss="Web">
        <div class="overlay"></div>

        <header class="navbar">
            <div class="logo">PC<span>FORGE</span></div>

            <nav class="nav-section">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">PC</a></li>
                </ul>
            </nav>

            <div>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
            
        </header>

        <div class="web-content">
            <div>Interactive learning PC platform</div>

             <h1>
                LEARN.<br>
                <span>BUILD.</span><br>
                DOMINATE.
            </h1>

            <p>
                The ultimate platform to learn every PC component, build your custom
                gaming rig, simulate real FPS across top games, and track your progress.
            </p>

            <div class="buttons">
                <a href="#" class="btn primary">Start Learning Free</a>
                <a href="#" class="btn secondary">Join & Earn XP</a>
            </div>

        </div>

    </section>
</body>
</html>