<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

    <body class="index_page">
        <nav class="top_nav_bar">
            <h1 class="logo">PCforce</h1>
                <a href="/">Home</a>
                <a href="/learn">Learn</a>
                <a href="/components">components</a>
                <a href="/add-gpu">Add GPU</a>
        </nav>

        <section class="title_page">
            
            <h3>INTERACTIVE PC PLATFORM</h3>

            <h1>Learn</h1>
            <h1>Compare</h1>
            <h1>Dominate</h1>

            <p>
                The ultimate platform to learn every PC components, access to a large amount of pc components parts. 
            </p>

            <a class="btn_learn" href="/learn">Start Learning</a>

        </section>
        <section>
            
        </section>
        <section>

        </section>
        
    </body>
</html>