<!DOCTYPE html>
<html>

<head>
    <title>Saved Builds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="components_page">

<nav class="top_nav_bar">
    <h1 class="logo">PCforce</h1>
    <a href="/">Home</a>
    <a href="/learn">Learn</a>
    <a href="/components">Components</a>
    <a href="/PC_builder">PC Builder</a>
</nav>

<h1 class="page_title">Saved Builds (Public)</h1>

    {% if builds %}
            <div class="saved_builds_container">
                {% for build in builds %}
                    <div class="saved_build">
                        <h2>{{ build.name }}</h2>

                        <div class="build_components">
                            {% for component in build.components %}
                                <p>
                                    {{ component.type }}:
                                    {{ component.name }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No saved builds found.</p>
    {% endif %}
</body>
</html>
